* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #121212d0;
}

.main-section {
    width: 100%;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

h1 {
    color: white;
    font-weight: bold;
    font-size: 2rem;
}

input {
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    width: 300px;
    margin-right: 5px;
}

button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: lightblue;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s all;
}

button:hover {
    background-color: deepskyblue;
}

.movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    margin-top: 250px;
}

