* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    height: 90vh;
    justify-content: center;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.inputs {
    display: flex;
    flex-direction: column;
}

input[type="text"]{
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

p{
    font-weight: bold;
}

button {
    padding: 10px 15px;
    background-color: rgba(0, 0, 255, 0.658);
    color: white;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    font-size: 1em;
    cursor: pointer;
    transition: 0.3s ease all;
}

button:hover {
    background-color: rgba(0, 0, 255, 0.822);
}




