* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    width: 300px;
    height: 300px;
    padding: 10px;
}

button {
    border: none;
    border-radius: 17px;
    font-size: 1.7rem;
    cursor: pointer;
    background-color: #e0e0e0;
    padding: 20px;
}

#texto {
    padding: 10px;
    width: 280px;
    font-size: 2rem;
    margin-bottom: 20px;
}

.main-section {
    background-color: rgba(0, 0, 0, 0.664);
    padding: 60px;
    border-radius: 20px;
    height: 600px;
    overflow: hidden;
}

button:hover {
    background-color: #d0d0d08a;
}

button:active {
    background-color: #c0c0c0;
}

.operador-btn {
    background-color: #ff9500;
    color: white;
}

.operador-btn:hover {
    background-color: #e08900;
}