* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: burlywood;
    font-family: Arial, sans-serif;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    width: 300px;
}

button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s background-color;
}

button:hover {
    background-color: #555;
}

.main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 120px;
    text-align: center;
}

.container {
    text-align: center;
    background-color: white;
    padding: 20px;
    width: 450px;
    height: 350px;
    border-radius: 8px;
}

.section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    margin-right: 80px;
    gap: 15px;
}

p {
    font-size: 18px;
    font-weight: bold;
}