*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-section {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.main {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 400px;
    height: 450px;
    padding: 30px;
}

.size {
    display: flex;
    align-items: center;
    gap: 10px;
}

.checkboxes {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button[type="submit"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgba(0, 0, 255, 0.719);
    color: white;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s all;
}

button[type="submit"]:hover {
    background-color: rgba(0, 0, 255, 0.904);
}

.gerador {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

button {
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}