* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}

.main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.main {
    background: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    width: 600px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 600px;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 50%;
}

.adiciona {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s background-color;
    font-weight: bold;
}

.adiciona:hover {
    background-color: #218838;
}

button {
    padding: 8px 16px;
    font-size: 14px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s background-color;
}

.default {
    background-color: red;
}

.progress {
    background-color: gray;
}

.concluidas {
    background-color: green;
}

.todas {
    background-color: blue;
}

.tarefa {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 2px solid #ccc;
}

.tarefa p, button {
    font-weight: bold;
}

.tarefas-section{
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 350px;
    overflow-y: auto;
}

.change {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.change img {
    width: 50px;
    height: auto;
    cursor: pointer;
    border: 1px solid black;
    padding: 5px;
}

.light-mode {
    background-color: white;
}

.dark-mode {
    background-color: black;
}