* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.main-section {
    padding: 20px;
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.container {
    display: flex;
    gap: 15px;
    align-items: center;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

input, select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

button {
    padding: 15px;
    font-size: 16px;
    background-color: cadetblue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s ease all;
}

button:hover {
    background-color: #5f9ea0a4;
}

.classes {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100px;
}

p {
    font-size: 18px;
    font-weight: bold;
}